# Just in case it lands in dotfiles by accident
.localrc

# Runtime artifacts
tmux/.tmux/plugins/
zed/.config/zed/.tmp*
zed/.config/zed/conversations/
zed/.config/zed/embeddings/
zed/.config/zed/prompts/
zed/.config/zed/settings_backup.json
