#!/usr/bin/env bash
# Install Homebrew (macOS only).
{{- if eq .chezmoi.os "darwin" }}
set -euo pipefail

if command -v brew >/dev/null 2>&1; then
  echo "==> Homebrew already installed"
else
  echo "==> Installing Homebrew..."
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi

brew analytics off
{{- end }}
