{
    "-string" = "/Users/sean.erswell-liljefelt/dotfiles/warp/settings.plist";
    AIAssistantRequestLimitInfo = "{\\"limit\\":100,\\"num_requests_used_since_refresh\\":0,\\"next_refresh_time\\":\\"2024-03-19T16:17:48.977650778Z\\"}";
    ChangelogVersions = "{\\"v0.2024.03.12.08.02.stable_01\\":true,\\"v0.2024.03.12.08.02.stable_02\\":true}";
    ExperimentId = "09bdbab9-3cc5-453d-852b-0cb630024e46";
    FontSize = "13.0";
    HasAutoOpenedWelcomeFolder = true;
    HonorPS1 = false;
    InputMode = "\\"Waterfall\\"";
    OverrideOpacity = 100;
    ReceivedReferralTheme = "\\"Inactive\\"";
    SafeModeEnabled = true;
    SavedPrompt = "{\\"CustomChipSelection\\":{\\"chips\\":[{\\"chip\\":\\"WorkingDirectory\\",\\"config\\":{}},{\\"chip\\":\\"ShellGitBranch\\",\\"config\\":{}},{\\"chip\\":\\"GitDirtyFiles\\",\\"config\\":{}},{\\"chip\\":\\"VirtualEnvironment\\",\\"config\\":{}},{\\"chip\\":\\"RemoteLogin\\",\\"config\\":{}},{\\"chip\\":\\"KubernetesContext\\",\\"config\\":{}}]}}";
    SelectedSystemThemes = "{\\"light\\":\\"Light\\",\\"dark\\":\\"CyberWave\\"}";
    Shortcuts = true;
    StartupShellOverride = "\\"zsh\\"";
    SystemTheme = false;
    Theme = "\\"FancyDracula\\"";
    WelcomeTipsCompleted = true;
    WelcomeTipsFeaturesUsed = "[{\\"Action\\":\\"SplitPane\\"},{\\"Action\\":\\"CommandSearch\\"},{\\"Hint\\":\\"BlockAction\\"},{\\"Action\\":\\"AiCommandSearch\\"},{\\"Hint\\":\\"CreateBlock\\"},{\\"Action\\":\\"SaveNewLaunchConfig\\"},{\\"Action\\":\\"ThemePicker\\"},{\\"Action\\":\\"CommandPalette\\"},{\\"Hint\\":\\"BlockSelect\\"}]";
    WorkingDirectoryConfig = "{\\"advanced_mode\\":false,\\"global\\":{\\"mode\\":\\"HomeDir\\",\\"custom_dir\\":\\"\\"},\\"split_pane\\":{\\"mode\\":\\"PreviousDir\\",\\"custom_dir\\":\\"\\"},\\"new_tab\\":{\\"mode\\":\\"PreviousDir\\",\\"custom_dir\\":\\"\\"},\\"new_window\\":{\\"mode\\":\\"PreviousDir\\",\\"custom_dir\\":\\"\\"}}";
}
